div#imgSub{
    padding-top: 3px;
    width: 30px;
}
button.responseCard{
    display:block;
    width: 100%;
    margin-top: 5px;
}
input#wisdom {
    font-size: 1em;
    height: 30px;
    width: 364px;
    display: block;
    float: left;
    margin-right: 8px;
}
input::placeholder {
color: #ccc;
font-style: italic;
}

p.userRequest {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
text-align: right;
min-width: 50%;
max-width: 80%;
float: right;
background-color: #7d7;
}

p.lexResponse {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
text-align: left;
min-width: 50%;
max-width: 85%;
float: left;
background-color: #bbf;
font-style: italic;
}

p.lexError {
margin: 4px;
padding: 4px 10px 4px 10px;
border-radius: 4px;
text-align: left;
min-width: 50%;
max-width: 85%;
float: left;
background-color: #f77;
}